
.ambassadors {
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    padding: 20px; 
  
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px 0;
      border-bottom: 1px solid #ccc; 
  
      .title {
        font-size: 24px;
        font-weight: bold;
      }
  
      .MuiSvgIcon-root {
        font-size: 24px;
      }
    }
  
    .bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px; 
  
      .ambassadorsChart {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px; 
        width: 100%;
  
        
       
      }
    }
  }
  