@font-face {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    src: url("../../assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}
@font-face {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    src: url("../../assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}
@font-face {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    src: url("../../assets/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf") format("truetype");
}